/* import google font and config for all text*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Righteous&display=swap');

* {
    font-family: Montserrat;
}

p {
    font-size: 13px;
}

body {
    background-color: rgb(35, 45, 53);
    display: flex;
    justify-content: center;
}

.first-row {
    height: 100%;
    width: 100%;
    max-width: 1500px;
   
}

.first-col {
    min-height: 570px;
    max-height: 600px;
    height: 90vh;
    background: -webkit-linear-gradient(-45deg, #1b262d 0%, #27333d 34%, #23272b 66%, #293333 100%);
}

li {
    font-size: 12px;
}

.progress {
    height: 8px;
}

.bg-bar {
    background-color: #f2b84b;
}